[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

jupyter = "*"
watson-developer-cloud = "*"
textract = "*"
gensim = "*"
nltk = "*"


[requires]

python_version = "3.6"
